@import url('./px2rem.less');
.sku-pop{
    display: none;
    position: fixed;
    z-index: 9998;
    left:0;
    top:0;
    width:100%;
    max-width:640px;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    .sku-content{
        position: relative;
        width:100%;
        height:100%;
        .sku-module{
            position: absolute;
            z-index: 9999;
            left:0;
            bottom:-100%;
            width:100%;
            height:auto;
            background-color: #fff;
            animation:bottom .5s forwards;
            -webkit-animation:bottom .5s forwards;
        }
    }
    .sku-main{
        .ftpx2rem(26);
        .pdtpx2rem(30);
        position: relative;
        z-index: 1;
        .sku-close{
            display: inline-block; 
            position: absolute;
            z-index: 9;
            top:.5rem;
            right:.5rem;
            .ftpx2rem(34); 
            .wpx2rem(30);
            .hpx2rem(30);
            .lhpx2rem(26);
            border-radius: 100%;
            background-color: #fff;
            color:#fff;
            text-align: center;
            cursor: pointer;
            a{
                display: block;
                width: 100%;
                height: 100%;
                border-radius:50%;
                color:#F15353;
                background-image: url(../images/icon_close.png);
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: 0 0;

            }
        }
        .sku-prop-name{
            // .wpx2rem(100);
            .lhpx2rem(46);
            color:#898989;
        }
        .sku-item{
            .pdpx2rem(20,20,20,20);
            border-bottom: 1px solid #EEEEEE;
            .main-price{
                padding: 0;
                .main-price-module{
                    .ftpx2rem(30);
                    color:#686868;
                    span{
                        .ftpx2rem(22);
                        color:#898989;
                    }
                    .main-money{
                        .ftpx2rem(40);
                        color:#f15353;
                    }
                    p{
                        .pdlpx2rem(90);
                    }

                }
            }
            .main-oringinal-price{
                padding: 0;
            }
            .sku-info-num{
                border-top: 1px solid #F8F8F8;
                border-bottom: 1px solid #F8F8F8;
                .mglpx2rem(-20);
                .mgrpx2rem(-20);
                .pdpx2rem(20,20,20,20)
            }
        }
        .sku-prop-item{

            .pdlpx2rem(90);
            ul{
                display: block;
                li{
                    display: inline-block;
                    float: left;
                    box-sizing: border-box;
                    border:1px solid #D7D7D7;
                    .bdrapx2rem(8);
                    .hpx2rem(50);
                    .lhpx2rem(46);
                    .mgrpx2rem(20);
                    .pdpx2rem(0,20,0,20);
                    .mgbpx2rem(20);
                    &.cur{
                        border:1px solid #F15353;
                    }
                    &.disabled{
                        background: #eee;
                        color: #aeaeae;
                    }
                }
            }
        }
        .sku-number{
            display: inline-block;
            float: right;
            width:auto;
            .hpx2rem(50);
            .lhpx2rem(46);
            box-sizing: border-box;
            border:2px solid #848689;
            .bdrapx2rem(4);
            overflow: hidden;
            span{
                display: inline-block;
                .wpx2rem(46);
                .hpx2rem(46);
                background-position: 0 0;
                background-size: 100% auto;
                background-repeat: no-repeat;
                .vpx2rem(-4);
                &:first-of-type{
                    background-image: url(../images/icon_minus.png);
                    &.btn-disabled{
                        background-image: url(../images/icon_minus_disabled.png);
                        background-color: #eee;
                    }
                }
                &:last-of-type{
                    background-image: url(../images/icon_add.png);
                    &.btn-disabled{
                        background-image: url(../images/icon_add_disabled.png);
                        background-color: #eee;
                    }
                }
            }
            input{
                display: inline-block;
                .wpx2rem(80);
                .hpx2rem(46);
                text-align: center;
                border:0;
                border-left: 2px solid #848689;
                border-right: 2px solid #848689;
                box-sizing: border-box;
                overflow: hidden;
            }
            &.disabled{
                border-color:#eee;
                input{
                    border-left-color: #eee;
                    border-right-color: #eee;
                    color: #c6c6c6;
                }
                span{
                    &:first-of-type{
                        background-image: url(../images/icon_minus_disabled.png);
                        background-color: #eee;
                    }
                    &:last-of-type{
                        background-image: url(../images/icon_add_disabled.png);
                        background-color: #eee;
                    }
                }
            }
        }
        .sku-count{
            .hpx2rem(80);
            background-color: #fff;
            box-sizing: border-box;
            .sku-count-fee{
                .wpx2rem(340);
                .hpx2rem(80);
                .lhpx2rem(80);
                .ftpx2rem(40);
                color:#f15353;
                text-align: center;
                span{
                    .ftpx2rem(30);
                    color:#686868;
                }
            }
            .buy-right-now,
            .add-to-cart{
                width:50%;
                .hpx2rem(80);
                .lhpx2rem(80);
                .ftpx2rem(30);
                background-color: #F15353;
                color:#fff;
                text-align: center;
            }
            .add-to-cart{
                background-color: #FF8402;
            }
        }
    }
}
.sku-pop.selecting{
    display: inherit;
}
.main-sku{
    font-family: "黑体";
    .hpx2rem(80);
    .lhpx2rem(80);
    position: relative;
    z-index: 1;
    p{
        .pdlpx2rem(20);
        .ftpx2rem(26);
        color:#696969
    }
    span{
        display: block;
        position: absolute;
        z-index: 2;
        right:0;
        top:0;
        .wpx2rem(80);
        .hpx2rem(80);
        .lhpx2rem(80);
        text-align: center;
        color:#999;
        &::before,
        &::after{
            display: block;
            content: '';
            border: .45rem solid transparent;
            border-left: .45rem solid #fff;
            width: 0;
            height: 0;
            position: absolute;
            .tpx2rem(22);
            .rpx2rem(14);
        }
        &::before{
                border-left-color: #aaa;
                .rpx2rem(10);
        }
    }
}
@keyframes bottom {
  form {
    bottom:-100%
  }
  to {
    bottom:0%
  }
}
@-webkit-keyframes bottom {
  form {
    bottom:-100%
  }
  to {
    bottom:0%
  }
}
@-moz-keyframes bottom {
  form {
    bottom:-100%
  }
  to {
    bottom:0%
  }
}